<!DOCTYPE html>
<!-- /**
 * NO LICENCE
 *
 * Proyecto obligatorio final.
 * Curso: Desarrollo de aplicaciones con Spring / Spring Boot
 * Universidad ORT
 * Agosto 2023 - Octubre 2023
 *
 * Docente: Juan Larrayoz
 *
 * Authors:
 *      Fourment, Juan
 *      Navarro Gutérrez, Nicolás
 *      Ortuzar, Martín
 */ -->
<html>
    <head th:replace="~{base-layout :: head}"></head>
    <body>
        <header th:insert="~{base-layout :: header-home}"></header>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 align-content-center text-center">
                    <h1>
                        Bienvenidos a
                    </h1>
                    <br>
                    <img class="img-fluid" th:src="@{/img/Pizza_Hurt.png}" alt="logo"/>
                </div>
                <div class="col-lg-8 align-content-center text-center">
                    <div class="card">
                        <h3>Acerca del proyecto</h3>
                        
                        <textarea readonly rows="10">
 /**
 * NO LICENCE
 *
 * Proyecto obligatorio final.
 * Curso: Desarrollo de aplicaciones con Spring / Spring Boot
 * Universidad ORT
 * Agosto 2023 - Octubre 2023
 *
 * Docente: Juan Larrayoz
 *
 * Authors:
 *      Fourment, Juan
 *      Navarro Gutérrez, Nicolás
 *      Ortuzar, Martín
 */
                                </textarea>

                        
                    </div>
                </div>
            </div>            
        </div>

        <footer th:replace="~{base-layout :: foot}"></footer>
    </body>
</html>
