<!DOCTYPE html>
<!-- /**
 * NO LICENCE
 *
 * Proyecto obligatorio final.
 * Curso: Desarrollo de aplicaciones con Spring / Spring Boot
 * Universidad ORT
 * Agosto 2023 - Octubre 2023
 *
 * Docente: Juan Larrayoz
 *
 * Authors:
 *      Fourment, Juan
 *      Navarro Gutérrez, Nicolás
 *      Ortuzar, Martín
 */ -->
<html>
    <head th:replace="~{base-layout :: head}"></head>
    <body>
        <header th:insert="~{base-layout :: header-home}"></header>
        <div class="container mt-5">
            <form th:action="@{/creaciones/crear}" th:object="${creacion}" method="post">
                <input class="form-check-input hiding" type="radio" th:value="${creacion.id}" name="id" th:field="*{id}">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                Tipos de Masa
                            </div>
                            <div class="card-body card-body-bg-image" th:style="'background-image: url(' + @{/img/imagen_pizza_masa.jpeg} + ');'">
                                <div class="gray-background">
                                    <div th:each="tipoMasa : ${tipos_de_masas}" class="form-check">
                                        <input class="form-check-input" type="radio" th:value="${tipoMasa.id}" name="masa" th:field="*{tipoMasa}">
                                        <label th:for="${'masa-' + tipoMasa.id}" class="form-check-label black-text" th:text="${tipoMasa.nombre}"></label>
                                        <strong><label class="form-check-label" th:text="${ '$ ' + tipoMasa.getFormatedPrice()}"></label></strong>
                                        <p class="card-header-small black-text" th:text="${tipoMasa.descripcion}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                Tipos de Salsa
                            </div>
                            <div class="card-body card-body-bg-image" th:style="'background-image: url(' + @{/img/imagen_pizza_salsa.jpeg} + ');'">
                                <div class="gray-background">
                                    <div th:each="tipoSalsa : ${tipos_de_salsas}" class="form-check">
                                        <input class="form-check-input" type="radio" th:value="${tipoSalsa.id}" th:field="*{tipoSalsa}" name="salsa">
                                        <label th:for="${'salsa-' + tipoSalsa.id}" class="form-check-label black-text" th:text="${tipoSalsa.nombre}"></label>
                                        <strong><label class="form-check-label" th:text="${ '$ ' + tipoSalsa.getFormatedPrice()}"></label></strong>
                                        <p class="card-header-small black-text" th:text="${tipoSalsa.descripcion}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                Tipos de Queso
                            </div>
                            <div class="card-body card-body-bg-image" th:style="'background-image: url(' + @{/img/imagen_pizza_mozzarella.jpg} + ');'">
                                <div class="gray-background">
                                    <div th:each="tipoQueso : ${tipos_de_quesos}" class="form-check">
                                        <input class="form-check-input" type="radio" th:value="${tipoQueso.id}" th:field="*{tipoQueso}" name="queso">
                                        <label th:for="${'queso-' + tipoQueso.id}" class="form-check-label black-text" th:text="${tipoQueso.nombre}"></label>
                                        <strong><label class="form-check-label" th:text="${ '$ ' + tipoQueso.getFormatedPrice()}"></label></strong>
                                        <p class="card-header-small black-text" th:text="${tipoQueso.descripcion}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mt-4">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                Toppings
                            </div>
                            <div class="card-body card-body-bg-image" th:style="'background-image: url(' + @{/img/imagen_pizza_pepperoni.jpeg} + ');'">
                                <div class="gray-background">
                                    <div th:each="topins : ${toppings}" class="form-check">
                                        <input class="form-check-input" type="checkbox" th:value="${topins.id}" th:field="*{topins}" name="topins">
                                        <label th:for="${'topins-' + topins.id}" class="form-check-label black-text" th:text="${topins.nombre}"></label>
                                        <strong><label class="form-check-label" th:text="${ '$ ' + topins.getFormatedPrice()}"></label></strong>
                                        <p class="card-header-small black-text" th:text="${topins.descripcion}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4 mx-auto">
                    <div class="col-md-6 d-flex align-items-center">
                        <div class="form-group mb-0">
                            <label for="nombre" class="black-text">Ingrese el nombre de la creación:</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre de la creación" required th:field="*{nombre}">
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-start">
                        <button type="submit" class="btn btn-primary rounded-circle" style="width: 100px; height: 100px;">
                            <i class="fas fa-pizza-slice"></i>
                            Crear Pizza
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </body>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</html>


<style>
    .error {
        color: red;
    }
    .card {
        height: 100%;
    }

    .card-body-bg-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
    }

    .card-header-small {
        font-size: 0.8rem;
    }

    .black-text {
        color: black;
    }

    .gray-background {
        background-color: rgba(242, 242, 242, 0.7);
        padding: 10px;
        border-radius: 5px;
    }
</style>