<!DOCTYPE html>
<!-- /**
 * NO LICENCE
 *
 * Proyecto obligatorio final.
 * Curso: Desarrollo de aplicaciones con Spring / Spring Boot
 * Universidad ORT
 * Agosto 2023 - Octubre 2023
 *
 * Docente: Juan Larrayoz
 *
 * Authors:
 *      Fourment, Juan
 *      Navarro Gutérrez, Nicolás
 *      Ortuzar, Martín
 */ -->
<html>
    <head th:replace="~{base-layout :: head}"></head>
    <body>
        <header th:insert="~{base-layout :: header-home}"></header>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 align-content-center text-center">
                    <h1>
                        Bienvenidos a
                    </h1>
                    <br>
                    <img class="img-fluid" th:src="@{/img/Pizza_Hurt.png}" alt="logo"/>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4 align-content-center text-center">
                    <div class="card">
                        <h3>Ingres&aacute; y arm&aacute; tu Zapi</h3>
                        <div class="card-body">
                            <form class="text-lg-start" method="POST" th:action="@{/login}">
                                <div class="mb-3">
                                    <label for="userName" class="form-label">Tu usuario</label>
                                    <input type="text" class="form-control" id="userName" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="pass" class="form-label">Tu clave</label>
                                    <input type="password" class="form-control" id="pass">
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-bar-right"></i>&nbsp;Acceder</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

        <footer th:replace="~{base-layout :: foot}"></footer>
    </body>
</html>
