<!DOCTYPE html>
<!-- /**
 * NO LICENCE
 *
 * Proyecto obligatorio final.
 * Curso: Desarrollo de aplicaciones con Spring / Spring Boot
 * Universidad ORT
 * Agosto 2023 - Octubre 2023
 *
 * Docente: Juan Larrayoz
 *
 * Authors:
 *      Fourment, Juan
 *      Navarro Gutérrez, Nicolás
 *      Ortuzar, Martín
 */ -->
<html>
    <head th:replace="~{base-layout :: head}"></head>
    <body>
        <header th:insert="~{base-layout :: header-home}"></header>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title text-center">Ingrese los datos de su tarjeta de crédito</h5>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/medios-de-pago/nuevo}" th:object="${medioDePago}" method="post">
                                <input class="form-check-input hiding"  type="hidden" th:value="${medioDePago.id}" name="id" th:field="*{id}">
                                <div class="mb-3">
                                    <label for="cardNumber">Número de Tarjeta</label>
                                    <input type="text" class="form-control" id="cardNumber" name="cardNumber" required th:field="*{numero_de_tarjeta}">
                                    <div th:if="${#fields.hasErrors('numero_de_tarjeta')}">
                                        <span th:errors="*{numero_de_tarjeta}" class="error">Debe ingresar un número de tarjeta correcto</span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <img id="issuerIcon" th:src="@{/img/__issuerName__.png}" alt="Emisor de Tarjeta" class="img-fluid">
                                    <input  class="form-control" type="hidden" id="emisorTarjeta" style="" name="emisor" required th:field="${medioDePago.emisor_tarjeta}">
                                </div>
                                <div class="mb-3">
                                    <label for="expiration">Fecha de Vencimiento (MM/YY)</label>
                                    <input type="text" class="form-control" id="expiration" name="expiration" placeholder="MM/YY" required th:field="${medioDePago.fecVtoForm}">
                                    <div th:if="${#fields.hasErrors('fecVtoForm')}">
                                        <span  th:errors="*{fecVtoForm}" class="error">Debe ingresar una fecha de expiración correcta</span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="cvv">CVV</label>
                                    <input type="text" class="form-control" id="cvv" name="cvv" required th:field="${medioDePago.cvv}">
                                    <div th:if="${#fields.hasErrors('cvv')}">
                                        <span th:errors="*{cvv}" class="error">Debe ingresar un cvv correcto</span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Guardar tarjeta</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function loadIssuerImageAndField(issuerName) {
                issuerName = issuerName.toLowerCase();
                const issuerImage = document.getElementById('issuerIcon');
                // Generar la URL de la imagen dinámicamente usando Thymeleaf
                issuerImage.src = `/img/${issuerName.toLowerCase()}.png`;

                // Actualizar el valor del campo emisor_tarjeta
                const emisorTarjetaInput = document.getElementById('emisorTarjeta');
                emisorTarjetaInput.value = issuerName;
            }

            function obtenerEmisor(){
                let inputElement = document.getElementById("cardNumber");

                let cardNumber = inputElement.value;

                // Definir los rangos de números de tarjeta para cada emisor
                const issuers = [
                    { name: 'Visa', pattern: /^4/ },
                    { name: 'Mastercard', pattern: /^5[1-5]/ },
                    { name: 'American Express', pattern: /^3[47]/ },
                    { name: 'Diners Club', pattern: /^3(?:0[0-5]|[68][0-9])[0-9]{4,}$/ },
                ];

                let matchedIssuer = null;
                for (const issuer of issuers) {
                    if (cardNumber.match(issuer.pattern)) {
                        matchedIssuer = issuer;
                        break;
                    }
                }

                if (matchedIssuer) {
                    loadIssuerImageAndField(matchedIssuer.name);
                } else {
                    const issuerIcon = document.getElementById('issuerIcon');
                    const imageUrl = `/img/issuerName.png`;
                    issuerIcon.innerHTML = `<img src="${imageUrl}" alt="" class="img-fluid">`;
                }
            }

            document.getElementById('cardNumber').addEventListener('input',obtenerEmisor);

            window.addEventListener('load', obtenerEmisor);

        </script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    </body>
</html>