<!DOCTYPE html>
<!-- <!-- /**
 * NO LICENCE
 *
 * Proyecto obligatorio final.
 * Curso: Desarrollo de aplicaciones con Spring / Spring Boot
 * Universidad ORT
 * Agosto 2023 - Octubre 2023
 *
 * Docente: Juan Larrayoz
 *
 * Authors:
 *      Fourment, Juan
 *      Navarro Gutérrez, Nicolás
 *      Ortuzar, Martín
 */ -->
<html>
    <head th:replace="~{base-layout :: head}"></head>
    <body>
        <header th:insert="~{base-layout :: header-home}"></header>

        <div class="container-fluid">
            
            <div class="row-cols-auto" th:if="${#strings.isEmpty(msgerror)}">
                <div class="alert alert-danger" role="alert">
                    [[${msgerror}]]
                </div>    
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <h2>3) Con que pag&aacute;s?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 align-content-center text-center">
                    <h4>Seleccion&aacute; uno de tus medios de pago</h4>
                    <hr>
                    <div th:unless="${#lists.isEmpty(mediospago)}">
                        <form th:action="@{/pedidos/mediopagoadd}" th:object="${pedidonuevo}" method="POST" id="form-add-address">
                            <div class="row-cols-auto">
                                <div class="card text-bg-dark text-start" th:each="medio : ${mediospago}" style="margin-bottom: 12px;">
                                    <div class="card-header">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="domicilio" id="domicilio" th:field="*{medioPago}" th:value="${medio.id}">
                                            <label class="form-check-label" for="domicilio" th:text="${medio.getMediooShortLabel()}"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-4">
                                    <a th:href="@{/pedidos/domicilio}" class="btn btn-primary"><i class="bi bi-arrow-left"></i>&nbsp;Volver a domicilios</a>
                                </div>
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary">Finalizar compra&nbsp;<i class="bi bi-bag-check-fill"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div th:if="${#lists.isEmpty(mediospago)}">
                        <div class="alert alert-warning" role="alert">
                            Ten&eacute;s que agregar un medio de pago a tu cuenta
                        </div>
                        <div>
                            <a class="btn btn-outline-info btn-lg" th:href="@{/medios-de-pago/nuevo}">Hac&eacute; click ac&aacute; para agregar uno!!</a>
                        </div>
                    </div>

                    <!--/*<div class="row-cols-1">
                        <h2>2) Seleccione un medio de pago</h2>
                    </div>
                    
                    <div class="row-cols-1">
                        <h2>3) Seleccione domicilio de entrega</h2>
                    </div>*/-->

                </div>

                <div class="col-lg-6 align-content-center text-center">
                    <h4>Tu pedido tiene:</h4>
                    <hr>

                    <table class="table table-sm table-hover table-striped table-info">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Creaci&oacute;n</th>
                                <th scope="col">Tamaño</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Sub total</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr th:each="item : ${pedidonuevo.items}">
                                <th>
                                    <form th:action="@{/pedidos/item/{id}(id=${item.id})}" method="DELETE">
                                        <button title="Eliminar" class="btn btn-sm btn-danger my-2 my-sm-0" type="submit">&nbsp;<i class="bi bi-trash-fill"></i>&nbsp;</button>
                                    </form>
                                </th>
                                <td th:text="${item.creacion.nombre}"></td>
                                <td th:text="${item.tamanio.nombre}"></td>
                                <td th:text="${item.cantidad}"></td>
                                <td th:text="${item.getFormatedPrice()}"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="font-weight: bolder;">
                                <td colspan="4">TOTAL</td>
                                <td th:text="${pedidonuevo.getFormatedPrice()}"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <footer th:replace="~{base-layout :: foot}"></footer>
    </body>
</html>
