<!DOCTYPE html>
<!-- /**
 * NO LICENCE
 *
 * Proyecto obligatorio final.
 * Curso: Desarrollo de aplicaciones con Spring / Spring Boot
 * Universidad ORT
 * Agosto 2023 - Octubre 2023
 *
 * Docente: Juan Larrayoz
 *
 * Authors:
 *      Fourment, Juan
 *      Navarro Gutérrez, Nicolás
 *      Ortuzar, Martín
 */ -->
<html>
<head th:replace="~{base-layout :: head}"></head>
<body>
<header th:insert="~{base-layout :: header-home}"></header>
<h2>Creaciones</h2>
<table class="table">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th></th> <!-- Columna de edición -->
        <th></th> <!-- Columna de eliminación -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="creacion : ${creaciones}">
        <td>
            <label th:text="${creacion.nombre}"></label>
        </td>
        <td>
            <label th:text="'$ ' + ${creacion.getFormatedLabel()}"></label>
        </td>
        <td>
            <!-- Formulario para la edición -->
            <form th:action="@{/creaciones/modificar/{id}(id=${creacion.id})}" method="post" class="edit-form">
                <input type="hidden" name="_method" value="POST" /> <!-- Método POST -->
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="bi bi-pencil"></i> Editar
                </button>
            </form>
        </td>
        <td>
            <a href="#" class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i> Eliminar
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</html>

</style>