<!DOCTYPE html>
<!-- /**
 * NO LICENCE
 *
 * Proyecto obligatorio final.
 * Curso: Desarrollo de aplicaciones con Spring / Spring Boot
 * Universidad ORT
 * Agosto 2023 - Octubre 2023
 *
 * Docente: Juan Larrayoz
 *
 * Authors:
 *      Fourment, Juan
 *      Navarro Gutérrez, Nicolás
 *      Ortuzar, Martín
 */ -->
<html>
<head th:replace="~{base-layout :: head}"></head>
<body>
<header th:insert="~{base-layout :: header-home}"></header>
<div class="container">
<h2>Medios de pago</h2>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        </div>
        <div class="col">
            <div class="text-right mb-2">
                <a th:href="@{nuevo}" class="btn btn-success">Agregar medio de pago</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th class="w-20">Numero de tarjeta</th>
                    <th class="w-20">Emisor de tarjeta</th>
                    <th class="w-20">Fecha de vencimiento</th>
                    <th class="w-20"></th>
                    <th class="w-20"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="medio : ${mediosDePago}">
                    <td>
                        <label th:text="${medio.getNumero_de_tarjeta()}"></label>
                    </td>
                    <td>
                        <label th:text="'$ ' + ${medio.getEmisor_tarjeta()}"></label>
                    </td>
                    <td>
                        <label th:text="'$ ' + ${medio.getFecha_de_vencimiento()}"></label>
                    </td>
                    <td>
                        <form th:action="@{/medios-de-pago/modificar/{id}(id=${medio.id})}" method="post" class="edit-form">
                            <input type="hidden" name="_method" value="POST" /> <!-- Método POST -->
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="bi bi-pencil"></i> Editar
                            </button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/medios-de-pago/eliminar/{id}(id=${medio.id})}" method="post" class="edit-form">
                            <input type="hidden" name="_method" value="POST" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i> Borrar
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</html>

</style>